@import "tailwindcss";

@theme {
  --color-primary: #ff7301;
  --color-secondary: #101010;
  --font-sans: "Poppins", sans-serif;
  --font-serif: "Poppins", sans-serif;
  
  --shadow-custom: 0 10px 40px rgba(0,0,0,0.1);
  --radius-custom: 2.5rem;
}


@layer base {
  body {
    @apply font-sans antialiased text-[#1f1f1f] bg-white m-0;
  }

  h1, h2, h3, h4 {
    @apply font-sans font-bold text-secondary;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer utilities {
  @supports (color:color-mix(in lab, red, red)) {
    .bg-white\/60 {
      background-color: color-mix(in oklab, #f2f2f2 60%, transparent);
    }
  }

  .animate-ticker {
    animation: ticker linear infinite;
  }

  .pause-hover:hover {
    animation-play-state: paused;
  }

  .ticker-mask {
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  }
  
  /* Utility class to hide scrollbar specifically */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes loader-slide {
  0% { transform: translateX(-120%); }
  50% { transform: translateX(60%); }
  100% { transform: translateX(220%); }
}
